<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Disable Default Spring Web logging -->
    <logger name="org.springframework.web" level="OFF"/>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="OFF"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="OFF"/>

    <!-- Register the custom converter -->
    <conversionRule conversionWord="maskedMsg"
                    converterClass="com.sisal.transaction.server.util.logging.GlobalMaskingLogConverter"/>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %maskedMsg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>transaction-server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %maskedMsg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>